.search-results-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto; 
    background-color: #f0f0f0;
}

.search-results-page h2 {
    font-size: 2rem;
}


.results-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

    padding: 20px;
    box-sizing: border-box;
}


.search-results {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    width: 30vw;
}

.search-results:hover {
    transform: translateY(-5px); 
}

.search-results img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.search-results div {
    width: 100%;
}

.search-results p {
    text-align: center;
    color: #666;
    margin: 10px 0;
}

.search-results button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-results button:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .results-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
} 
