.profile-page {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .main-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 800px;
    margin: 20px;
  }
  
  .profile-description {
    padding: 20px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profile-description img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .profile-description .subtitle {
    margin: 10px 0;
    color: #333;
    font-size: 24px;
  }
  
  .apointment-section {
    padding: 20px;
    flex-basis: 50%;
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .apointment-section p {
    margin: 10px 0;
    color: #666;
  }
  
  button[type="submit"] {
    background-color: #9c161d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(149, 4, 4);
  }
.details-container{
    background-color: #fff;
    width: 80vw;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.tab-titles{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 20px;
}

.tab-titles{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tab-links{
    padding-bottom: 5px;
    font-size: 20px;
    cursor:pointer;
    color: black;
    position: relative;
}
.tab-links::after{
    content: '';
    height: 2px;
    width: 0;
    background: rgb(147, 13, 44);
    position: absolute;
    left :0;
    bottom:-2px;
    transition: .5s;

}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    display: inline;
}
.tab-contents ul li{
    list-style: none;
    padding: 8px 0; 
    margin:10px 0;
    color:  #333;
}
.tab-contents ul li span{
    color:red;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.covid-modal {
    width: 90%; 
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.covid-modal-actions button {
    background-color: #007bff; 
    color: white;
}

.covid-modal-actions button:first-child {
    margin-right: 15px;
}

.covid-modal-actions button:hover {
    opacity: 0.8;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 998; 
}